doctype html
html(lang='it')
  head
    meta(charset='utf-8')
    meta(name='csrf-token', content=_csrf)
    title My Vue.js App
    script(src="/static/index.js")
  body
    textarea#txt(placeholder="Inserisci il numero dell'anno da cercare")
    button#btn Cerca
    pre
      code#app